<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_sgc_nurture_root"
              name="AI Nurture"
              parent="crm.crm_menu_root"
              sequence="60"
              groups="sales_team.group_sale_salesman"/>

    <menuitem id="menu_sgc_nurture_sequence"
              name="Sequences"
              parent="menu_sgc_nurture_root"
              action="action_sgc_nurture_sequence"
              sequence="10"/>

    <menuitem id="menu_sgc_nurture_touch"
              name="Touch Log"
              parent="menu_sgc_nurture_root"
              action="action_sgc_nurture_touch"
              sequence="20"/>

</odoo>
